<%= simple_form_for(@restaurant) do |f| %>

  <p>
    <%= f.input :name %>
  </p>
  <p>
    <%= f.input :address %>
  </p>
  <p>
    <%= f.input :phone_number %>
  </p>
  <p>
    <%= f.input :category %>
  </p>
  <p>
    <%= f.button :submit, value: 'Criar Restaurante', class: 'btn btn-primary' %>
  </p>
  <% end %>
